body{
    background-color: rgb(255, 255, 131)
}

h2  {
    background-color: peru;
}

h4{
    color: n
}

h4{
    font-weight: lighter;
}

h1{
    background-color: peru;
}

body, h4 {
    text-align: center;
}