* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
}

nav {
    background-color: royalblue;
    flex: 1;
}

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 10;
}

header {
    background-color: red;
    height: 100px;
}

.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

main {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.art {
    background-color: sandybrown;
    flex-grow: 3;
}

.as {
    background-color: springgreen;
    flex-grow: 1;
}

footer {
    background-color: purple;
    height: 100px;
}

/* main {
    display: flex;
    flex-grow: 1;
}

.art {
    background-color: greenyellow;
    flex-grow: 2;
}

.border1 {
    background-color: grey;
    flex-grow: 1;
}

.border2 {
    background-color: aliceblue;
    flex-grow: 1;
} */