* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(#CF2425, #DA6062, #DA3B3F)
}

.bg-img {
    position: absolute;
    max-height: 90%;
    max-width: 90%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: -1;
}

header {
    display: flex;
    gap: 20px;
    padding-left: 75px;
    padding-top: 40px;
}

.menu {
    color: #FFFFFF;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.icone_menu {
    cursor: pointer;
}

main {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.content-texto {
    position: absolute;
    color: #FFFFFF;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 200px;
    text-align: right;
    transform: translateX(-112%);
}

.content-img {
    height: 80vh;
}

footer {
    display: flex;
    justify-content: flex-end;
    padding-right: 75px;
}

.map-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.map-text {
    color: #FFFFFF;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
}

@media (max-width: 768px) {
    header{
        padding-left: 25px;
        padding-top: 25px;
    }

    main {
        align-items: flex-end;
    }

    .content-img {
        height: 60vh;
    }

    .content-texto {
        transform: translate(0,0);
        top: 135px;
        text-align: center;
    }
}